{% extends "base.html" %}
{% block navbar %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">INICIO</a></li>
            <li class="active"><a href="/hoy">HOY</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
{% endblock %}

{% block cabecera %} 
<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>PAGINADOR PRÁCTICA 5</h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->
{% endblock %}


{% block content %} 
	<div class="container w">
		<div class="row centered">
			<br><br>
			<table class="table table-striped" id="tabla_paginador">
                    <thead >
                        <tr>
                            <th>Sitio</th>
                            <th>Precio</th>
                            <th>Materia</th>
                            <th>Hora</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                     <tbody id="listado">
                    {% for r in lista_clases %}
                    <tr>
                      <td>{{r.sitio}}</td>
                      <td>{{r.precio}}</td>
                      <td>{{r.materia}}</td>
                      <td>{{r.hora}}</td>
                      <td>{{r.id}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
			<nav aria-label="...">
				  <ul class="pagination" id="botones">
				    
				  </ul>
			</nav>
				<input type="button" id="busqueda" value="Cargar restaurantes">
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

{% endblock %}