{% extends "base.html" %}
{% block navbar %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/inicio">INICIO</a></li>
            <li><a href="/about">ACERCA DE HIGR</a></li>
            <li><a href="/signup">REGISTRATE EN HIGR</a></li>
            {% if "logged" in session %}
            <li><a href="/users/{{ nombre_usuario }}">MI PERFIL</a></li>
            <li><a href="/login">SALIR</a></li>
            {% else %}
            <li><a href="/login_pagina">LOGIN</a></li>
            {% endif %}
            <li class="active"><a href="/practica_mongo">PAGINADOR P5</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
{% endblock %}

{% block cabecera %} 
<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>PAGINADOR PRÁCTICA 5</h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->
{% endblock %}


{% block content %} 
	<div class="container w">
		<div class="row centered">
			<br><br>
			<table class="table table-striped" id="tabla_paginador">
                    <thead >
                        <tr>
                            <th>Calle</th>
                            <th>Barrio</th>
                            <th>Cocina</th>
                            <th>Nombre</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody id="listado">
                    </tbody>
                </table>
			<nav aria-label="...">
				  <ul class="pagination" id="botones">
				    
				  </ul>
			</nav>
				<input type="button" id="busqueda" value="Cargar restaurantes">
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

{% endblock %}